    <footer class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="footer-widget">
                                    <div class="widget-title">
                                        <h3>من نحن</h3>
                                    </div> <!-- End Widget-title -->
                                    <div class="widget-contant">
                                        <ul class="footer-links">
                                            <li>
                                                <a href="#">من نحن</a>
                                            </li>
                                            <li>
                                                <a href="#"> مدونة دنتال</a>
                                            </li>
                                            <li>
                                                <a href="#">مدونة دنتال</a>
                                            </li>
                                            <li>
                                                <a href="#"> فريق دنتال</a>
                                            </li>
                                            <li>
                                                <a href="#"> الشروط والقوانين</a>
                                            </li>
                                            <li>
                                                <a href="#"> الشروط والقوانين</a>
                                            </li>
                                            <li>
                                                <a href="#">وظائف دنتال</a>
                                            </li>
                                            <li>
                                                <a href="#"> اتفاقية الخصوصية </a>
                                            </li>
                                        </ul> <!-- End who-are -->
                                    </div> <!-- End Widget-contant -->

                                </div> <!-- End Widget -->
                            </div> <!-- End Col -->
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-widget">
                                    <div class="widget-title">
                                        <h3>المناطق</h3>
                                    </div> <!-- End widget-title -->
                                    <div class="widget-contant">
                                        <ul class="footer-links two-links">
                                            <li>
                                                <a href="#">مصر الجديده</a>
                                            </li>
                                            <li>
                                                <a href="#">مدينه نصر</a>
                                            </li>
                                            <li>
                                                <a href="#">المعادي</a>
                                            </li>
                                            <li>
                                                <a href="#">المنيل</a>
                                            </li>
                                            <li>
                                                <a href="#">مدينه العبور</a>
                                            </li>
                                            <li>
                                                <a href="#">التجمع الخامس</a>
                                            </li>
                                            <li>
                                                <a href="#">شبرا</a>
                                            </li>
                                        </ul> <!-- End areas -->
                                    </div> <!-- End widget-contant -->
                                </div> <!-- End widget -->
                            </div> <!-- End Col -->
                            <div class="col-md-5 col-sm-6">
                                <div class="footer-widget">
                                    <div class="widget-title">
                                        <h3>انضم للقائمة البريدية</h3>
                                    </div> <!-- End widget-title -->
                                    <div class="widget-contant">
                                        <div class="subscribe">
                                            <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز.</p>
                                            <form class="form-subscribe">
                                                <div class="form-group">
                                                    <input class="form-control" type="email" name="email" placeholder="ادخل بريدك الالكتروني..." >
                                                    <button class="custom-btn" type="submit">
                                                        اشتراك
                                                    </button>
                                                </div><!--End Form-group-->
                                            </form> <!-- End Form -->
                                            <ul class="socail-list">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                            </ul> <!-- socail-list -->
                                        </div> <!-- End subscribe -->
                                    </div> <!-- End widget-contant -->
                                </div> <!-- End widget -->
                                
                            </div> <!-- End Col -->
                        </div> <!-- End Row -->
                    </div> <!--  End Container -->
                </footer><!--End footer-->