<div class="page-head">
                    <div class="page-head-img">
                        <img src="assets/images/drugs.jpg">
                    </div><!-- End home-slider-Img -->
                    <div class="container">
                        <div class="page-head-head">
                            <h3 class="title title-lg">
                               ابحث في احسن موقع عن الدواء واي كلام فاضي 
                            </h3><!--End title-->
                        </div><!-- End Home-Slider-Head -->
                        <div class="search-tabs">
                            <form>
                                <div class="choose-option">
                                    <div class="form-group">
                                        <i class="fa fa-heartbeat"></i>
                                        <input class="form-control" type="text" placeholder="أدخل اسم الدواء ">
                                    </div><!-- End Form-Group -->
                                </div><!-- End Choose-Option -->
                                <button class="custom-btn">ابحث</button>
                            </form><!-- End Form -->
                        </div><!-- End Search-Tabs -->
                    </div><!-- End container -->
                </div><!--End Page-head-->
                
                <div class="page-content">
                    <section class="section-lg">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="white-box">
                                        <div class="widget-doctor">
                                            <div class="widget-head">
                                                <img src="assets/images/drugs.jpg" alt="...">
                                            </div><!--End Widget-head-->
                                            <div class="widget-content">
                                                <div class="widget-content-info">
                                                    <h2 class="drug-name">اسم الدواء هنا</h2>
                                                    <span class="details">
                                                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                                        25 مريض استعمل هذا</span>
                                                    <p class="more-details">
                                                        مرضي الضغط : 
                                                        <span>25 مريض</span>
                                                    </p>
                                                    <p class="more-details">
                                                        مرض السكر : 
                                                        <span>25 مريض</span>
                                                    </p>
                                                    <p class="more-details">
                                                        المرضي اللي كشفو قبل وبعد الدواء : 
                                                        <span>25 مريض</span>
                                                    </p>
                                                    
                                                </div><!--End Widget-content-book-->
                                            </div><!--End Widget-content-->
                                        </div><!--End Widget-doctor-->
                                    </div><!--End White-box-->
                                </div><!-- End col -->
                                <div class="col-md-6">
                                    <div class="white-box">
                                        <div class="widget-doctor">
                                            <div class="widget-head">
                                                <img src="assets/images/drugs.jpg" alt="...">
                                            </div><!--End Widget-head-->
                                            <div class="widget-content">
                                                <div class="widget-content-info">
                                                    <h2 class="drug-name">اسم الدواء هنا</h2>
                                                    <span class="details">
                                                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                                        25 مريض استعمل هذا</span>
                                                    <p class="more-details">
                                                        مرضي الضغط : 
                                                        <span>25 مريض</span>
                                                    </p>
                                                    <p class="more-details">
                                                        مرض السكر : 
                                                        <span>25 مريض</span>
                                                    </p>
                                                    <p class="more-details">
                                                        المرضي اللي كشفو قبل وبعد الدواء : 
                                                        <span>25 مريض</span>
                                                    </p>
                                                    
                                                </div><!--End Widget-content-book-->
                                            </div><!--End Widget-content-->
                                        </div><!--End Widget-doctor-->
                                    </div><!--End White-box-->
                                </div><!-- End col -->
                                <div class="col-md-6">
                                    <div class="white-box">
                                        <div class="widget-doctor">
                                            <div class="widget-head">
                                                <img src="assets/images/drugs.jpg" alt="...">
                                            </div><!--End Widget-head-->
                                            <div class="widget-content">
                                                <div class="widget-content-info">
                                                    <h2 class="drug-name">اسم الدواء هنا</h2>
                                                    <span class="details">
                                                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                                        25 مريض استعمل هذا</span>
                                                    <p class="more-details">
                                                        مرضي الضغط : 
                                                        <span>25 مريض</span>
                                                    </p>
                                                    <p class="more-details">
                                                        مرض السكر : 
                                                        <span>25 مريض</span>
                                                    </p>
                                                    <p class="more-details">
                                                        المرضي اللي كشفو قبل وبعد الدواء : 
                                                        <span>25 مريض</span>
                                                    </p>
                                                    
                                                </div><!--End Widget-content-book-->
                                            </div><!--End Widget-content-->
                                        </div><!--End Widget-doctor-->
                                    </div><!--End White-box-->
                                </div><!-- End col -->
                                <div class="col-md-6">
                                    <div class="white-box">
                                        <div class="widget-doctor">
                                            <div class="widget-head">
                                                <img src="assets/images/drugs.jpg" alt="...">
                                            </div><!--End Widget-head-->
                                            <div class="widget-content">
                                                <div class="widget-content-info">
                                                    <h2 class="drug-name">اسم الدواء هنا</h2>
                                                    <span class="details">
                                                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                                        25 مريض استعمل هذا</span>
                                                    <p class="more-details">
                                                        مرضي الضغط : 
                                                        <span>25 مريض</span>
                                                    </p>
                                                    <p class="more-details">
                                                        مرض السكر : 
                                                        <span>25 مريض</span>
                                                    </p>
                                                    <p class="more-details">
                                                        المرضي اللي كشفو قبل وبعد الدواء : 
                                                        <span>25 مريض</span>
                                                    </p>
                                                    
                                                </div><!--End Widget-content-book-->
                                            </div><!--End Widget-content-->
                                        </div><!--End Widget-doctor-->
                                    </div><!--End White-box-->
                                </div><!-- End col -->
                            </div><!-- End row -->
                            
                        </div><!-- End container -->
                    </section><!-- End Section -->
                </div><!--End page-content-->
